
.div2 .candado{
    position: absolute;
    margin: 0rem 0rem 0rem 50rem;
}

.div4 .candado2{
    position: absolute;
    margin: 0rem 0rem 0rem 15rem;
}

.cora .corazon{
    position: absolute;
    margin: 0rem 0rem 0rem 14rem;
}

.cora2 .musculo{
    position: absolute;
    margin: 0rem 0rem 0rem 14rem;
}